#bckgHeader {
    -fx-background-color: #090979FF;
}

#pAccount, #gpUsers {
    -fx-background-color: rgba(11, 89, 117, 1);
}

#lChatWelcome, #lUsername, #lUsers {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-fill: white;

}

#lUsername {
    -fx-font-size: 20px;
    -fx-font-weight: normal;
}

#btnDeleteAccount, #btnSend {
    -fx-background-color: #D6B036;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-family: Roboto;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

#eMessage {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #51515e;
    -fx-text-fill: #02022d;
    -fx-prompt-text-fill: #7f7fa2;
}

.message {
    -fx-background-radius: 10;
    -fx-padding: 10px;
}

.sentMessage {
    -fx-background-color: #b8ecf5;
}

.receivedMessage {
    -fx-background-color: #fcd9ea;
}

.receivedPersonalMessage {
    -fx-background-color: #88ff94;
}

/*user*/
.userBlock {
    -fx-background-radius: 5;
    -fx-padding: 5px;
}

.userMe {
    -fx-background-color: #facd6b;
}

.userNotMe {
    -fx-background-color: #ff93f4;
}

.username, .sender, .date, .messageContent {
    -fx-fill: black;
    -fx-font-family: Roboto;
    -fx-font-weight: normal;
    -fx-font-size: 17px;
}

.sender, .date {
    -fx-font-size: 15px;
}